# Dependencies
node_modules/

# Environment variables (secrets)
.env
backend/.env

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files / cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

uploads/
dist/
*.log
.env.local
.env.production
